/* Private Office Pages */


/* Traveler Page */
.lk-traveler-user__image {
	@include media(md-max) { text-align: right; }
}


.lk-traveler-user__data {
	padding: 21px 0 0;
	@include clearfix;
	@include font (15,19);
	.name { font-weight: bold; }
	.city {
		padding: 5px 0 0;
		color: $gray;
		@include font (13,15);
	}
	.edit {
		padding: 7px 0;
		@include font (14,17);
		a {
			@include link-decoration (uu);
			@include link-color ($light-blue,$blue);
			i.fa { margin-right: 7px; }
		}
	}
	.value {
		padding: 5px 0 0;
		@include font (24,24,bold);
	}
	.visited { padding: 17px 0 0; }
}



.lk-traveler-response__text {
	@include clearfix;
	@include font (15,21);
}

.lk-traveler-response__submit {
	padding: 17px 0 0;
	@include clearfix;
}



/* Steps Menu */

.lk-steps__nav {
	width: 100%;
	padding: 37px 0 0;
	display: table;
	@include border ($border-color,0 0 1px);
	li {
		display: table-cell;
		color: $gray;
		@include font (15,17);
		&:hover { color: #000; }
		& ~ li { padding-left: 20px; }
		span {
			padding: 0 0 7px;
			display: block;
			cursor: default;
			&.active {
				bottom: -1px;
				position: relative;
				color: $blue;
				@include border ($blue,0 0 1px);
			}
		}
	}
	@include media(hd) {
		li { white-space: nowrap; }
	}
	@include media(md-max) {
		display: block;
		li {
			display: block;
			& ~ li {
				padding-left: 0;
				@include border ($border-color,1px 0 0);
			}
			span { padding: 7px 0; }
		}
	}
}



/* Select Page */

.lk-select__buttons {
	padding: 7px 0 0;
	@include clearfix;
	.button {
		& + .button {
			margin-left: 18px;
			color: #ffa217;
			background-color: #fff;
			&:hover {
				color: #fff;
				background-color: #ffa217;
			}
		}
	}
	@include media(xs) {
		.button {
			width: 100%;
			& + .button { margin: 20px 0 0; }
		}
	}
}


.lk-select__remind {
	padding: 17px 0 0;
	@include clearfix;
	@include font (14,17);
	a {
		@include link-decoration (uu);
		@include link-color ($light-blue,$blue);
	}
}












