/*--------------------------- Response Pages */

.response-items__box {
	.place-item {
		& ~ .place-item { margin-top: 30px; }
	}
}


.new-response__wrap {
	.place-item--price {
		padding: 0 25px 0 15px;
		margin: 0;
		display: block;
		text-align: right;
	}
}

.new-response__box {}

.response-author__box {
	padding: 19px 15px 0 0;
	@include clearfix;
	.m-image {
		margin: 0 8px 5px 0;
		float: left;
	}
	p.location {
		color: $gray;
		@include font (12,15);
	}
	&.with-rating {
		padding-right: 120px;
		position: relative;
		.place-item--rate {
			margin: 0;
			@include abs (10px,auto,0px,auto);
		}
	}
}

.response-text__box {
	padding: 12px 15px 0 0;
	@include clearfix;
	@include font (15,18);
	p { padding: 7px 0 0; }
	.title {
		padding-right: 23px;
		@include font (15,18,bold);
	}
}

.response-feature__box {
	padding: 5px 0 25px;
	@include clearfix;
	&.reset { padding: 0; }
	li {
		padding: 15px 0 0 24px;
		background-position: 0 16px;
		background-repeat: no-repeat;
		@include font (15,18);
		&.plus {
			font-weight: bold;
			background-image: url(../img/update/icon-plus.png);
		}
		&.minus {
			background-image: url(../img/update/icon-minus.png);
		}
	}
	.text {
		padding: 10px 30px;
		margin-left: 7px;
		font-weight: normal;
		@include border ($border-color,1px);
		@include border-radius (5px);
	}
}

/*Slider*/

.response-mini__slider {
	padding: 3px 0 20px;
	margin: 0 8px;
	/*& > .owl-carousel { margin-left: -15px; }*/
	.slide {
		padding: 0 7px;
		/*float: left;*/
		img { width: 100%; }
	}
	& + .response-author__box { @include border ($border-color,1px 0 0); }
}

/*More Button*/
.response-more__load {
	padding: 43px 0 20px;
	text-align: center;
	@include clearfix;
	.blue2Button { margin: 0 auto; }
	&.p1 { padding: 10px 0 0; }
}

/*Popular Regions*/
.response-popular__regions {
	padding-top: 30px;
	@include font (17,20);
	img.image { width: 100%; }
	p.name {
		@include font (17,20,bold);
	}
	p.more { padding: 17px 0 0; }
	& + .banner { margin-top: 65px; }
}



/*Wrap*/
.response-content__wrap {
	overflow: hidden;
	background-color: #fff;
	@include clearfix;
	@include box-shadow (0 4px 15px 0 rgba(128,152,187,.51));
	@include border-radius (10px);
	.btn {
		padding-left: 15px;
		padding-right: 15px;
	}
	.place-item--content {
		padding-left: 0;
		@include media(hd) { margin-top: 25px; }
		@include media(lg-max) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.place-item--title {
		padding: 0 15px 15px 0;
		h3 { @include font (24,27,bold); }
	}
	.place-item__btn {
		padding-right: 15px;
		text-align: right;
	}
	&.p1 { padding: 25px 25px 28px 40px; }
	&.p2 {
		padding: 35px 45px 50px;
		overflow: inherit;
	}
	&.box-indent { margin-top: 30px; }
	.response-mini__slider { margin: 0 -8px; }
}


/*Comfort*/

.response-comfort__title {
	padding-top: 25px;
	color: $gray;
	text-transform: uppercase;
	@include font (15,18,bold);
	@include border ($border-color,1px 0 0);
}

.response-comfort__box {
	padding-top: 27px;
	padding-bottom: 40px;
	li {
		padding: 8px 0 8px 40px;
		background-repeat: no-repeat;
		background-size: 22px auto;
		background-position: 0 50%;
		@include font (15,18);
		&.with-wifi { background-image: url(../img/ico-wifi.png); }
		&.with-personal { background-image: url(../img/update/icon-personal.png); }
		&.with-compare { background-image: url(../img/update/icon-compare.png); }
		&.with-location { background-image: url(../img/update/icon-location.png); }
		&.with-view { background-image: url(../img/update/icon-view.png); }
		&.with-star { background-image: url(../img/update/icon-star.png); }
		&.with-clean { background-image: url(../img/update/icon-clean.png); }

		&.with-c1 { background-image: url(../img/update/icon-comfort.png); }
		&.with-c2 { background-image: url(../img/update/icon-comfort1.png); }
		&.with-c3 { background-image: url(../img/update/icon-comfort2.png); }
		&.with-c4 { background-image: url(../img/update/icon-comfort3.png); }
		&.with-c5 { background-image: url(../img/update/icon-comfort4.png); }
		&.with-c6 { background-image: url(../img/update/icon-comfort5.png); }
		&.with-c7 { background-image: url(../img/update/icon-comfort6.png); }
		&.with-c8 { background-image: url(../img/update/icon-comfort7.png); }
		&.with-c9 { background-image: url(../img/update/icon-comfort8.png); }
		&.with-c10 { background-image: url(../img/update/icon-comfort9.png); }
		&.with-c11 { background-image: url(../img/update/icon-comfort10.png); }
		&.with-c12 { background-image: url(../img/update/icon-comfort11.png); }

	}
	&.has-rating {
		padding: 0;
		li {
			padding: 12px 95px 12px 40px;
			background-position: 0 50%;
			position: relative;
			.rate {
				margin-top: -7px;
				@include abs (50%,auto,0px,auto);
			}
			& ~ li { @include border ($border-color,1px 0 0); }
		}
		@include media(xs) {
			li { word-break: break-all; }
		}
	}
	&.hotel-mode {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	@include media(md-max) {
		& + .response-comfort__box {
			padding-top: 0;
			margin-top: -15px;
		}
	}
	@include media(xs) {
		&.hotel-mode {
			padding-top: 0px;
			padding-bottom: 0px;
		}
	}
}


/*Filter*/
.response-filter__divider {
	padding: 0 10px;
	display: inline-block;
	color: $gray;
	@include font (15,18);
}

.response-filter__rating-wrap {
	padding: 11px 0 0 10px;
	@include clearfix;
	&.filter-mode {
		padding: 0;
		.response-filter__divider { padding: 0 2px; }
		.response-filter__rating { margin: 0; }
	}
}

.response-filter__rating {
	display: inline-block;
}

.response-filter__submit {
	padding: 20px 0 0;
	text-align: center;
	@include clearfix;
	.btn {
		max-width: 220px;
		width: 100%;
	}
}



/*Write Response*/


.write-filter__box {
	padding: 35px 30px 40px;
	background-color: $blue;
	@include border-radius (5px);
	label { color: #98b6ed; }
	li.item {
		padding: 21px 0 0;
		&.title {
			padding: 35px 0 0;
			color: #fff;
			@include font (22,25,bold);
		}
		& ~ li.item:not(:last-child) { padding-top: 10px; }
		&:first-child { padding: 0; }
		/*&:last-child { padding: 25px 0 0; }*/
	}
}

.write-common__rate {
	& > *  { display: inline-block; }
	.main-title { padding: 0 0 5px; }
}
.write-common__value {
	padding: 0 11px;
	margin: 0 5px 0 3px;
	display: inline-block;
	line-height: 30px;
	@include border ($border-color,1px);
	@include border-radius (5px);
}

.write-common__tell {
	padding: 10px 0 0;
	color: $gray;
	@include font (15,17);
}



/*Photo*/

.write-photo__note { padding: 5px 0 15px; }



.write-photo__load {
	padding: 35px 15px;
	text-align: center;
	@include clearfix;
	@include border ($border-color,1px);
	@include border-radius (5px);
	.title {
		padding: 0 0 20px;
		@include font (15,17);
	}
	.note {
		padding: 20px 0 0;
		color: $gray;
		@include font (13,15);
	}
}


.write-video__agree { padding: 17px 0 25px; }

.write-video__note {
	padding: 12px 18px;
	color: $gray;
	@include font (12,24);
	@include border ($border-color,1px);
	@include border-radius (5px);
	i.fa {
		margin-right: 5px;
		font-size: 17px;
		vertical-align: middle;
	}
	@include media(hd) {
		font-size: 11px;
		padding-right: 10px;
	}
}



.write-response__send {
	padding-top: 41px;
	@include clearfix;
	@include media(lg-min) { padding-left: 69px; }
}


.write-video__note1 {
	padding: 17px 0 0;
	@include font (12,20);
	a {
		@include link-decoration (uu);
		@include link-color ($light-blue,$blue);
	}
}

.write-video__submit {
	padding: 38px 0 0;
	@include clearfix;
}



