/* Default */
$main-color:			#000;
$main-font-size:		15px;

$rc:					'Roboto Condensed', sans-serif;
$fa:					'FontAwesome';
$red:					#dd300e;

/*$border-color:			#f9f9f9;*/
$border-color:			#e8e8e8;
$section-color:			#f7f8fc;

$gray:					#848484;
$blue:					#1259c3;
$light-blue:			#01b2c4;
$orange:				#ff9000;


/* Media */
// HD
$widescreen-breakpoint:	1200px;
// Widescreen Screen
$desktop-breakpoint:	992px;
// Desktop
$laptop-breakpoint: 	768px;
// Tablet
$tablet-breakpoint: 	480px;
// Mobile
$mobile-breakpoint: 	320px;
//------------------------------